*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Helvetica;
}
a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.blog {
	width: 100%;
	height: 550px;
	background-size: cover;
	background-image: url(../img/background.jpg);
}
/*Container satu*/
.container-satu{
	height: 80px;
	display: flex;
	justify-content: space-between;
}
.container-satu .judul {
	padding: 0 15px;
	font-size: 25px;
	color: #FFFFFF;
}
.container-satu .bar, .bar2{
	height: 80px;
	padding-top: 10px
}
.container-satu .bar ul li{
	display: inline-block;
	padding: 0 20px;
}
.container-satu .bar2 ul li{
	display: inline-block;
	padding: 0 20px;
}
.container-satu .bar2 .signup a {
	background-color: orange;
	padding: 5px 10px;
}

/*Buat Hover untuk a*/
.container-satu .bar a:hover, .bar2 a:hover {
	color: #C3C2C2;
}
.container-satu .bar2 .signup a:hover {
	background-color: #D26D00;
	color: #C3C2C2;
}

/*Batas Untuk Hover container-satu*/

/*Container dua*/

.container-dua {
	text-align: center;
	padding-top: 70px;
	color: white;
}
.container-dua h1 {
	font-size: 60px
}
.container-dua h3 {
	margin: 10px 0 60px 0;
}
.container-dua button {
	outline: none;
	border: none;
	background-color: #25003D;
	padding: 12px 50px;
	color: white;
	font-weight: bold;
	border-radius: 3px;
}